.gradient-custom {
    /* fallback for old browsers */
    background: #f14a12;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(254, 126, 22), rgb(37, 252, 44));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(236, 167, 93), rgb(41, 164, 10))
    }