<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../assets/Argentina Programa.png" alt="" id="logoAP">
        </div>
        <div class="redes">
            <div>
                <a href=""><img src="../../../assets/facebook.png" alt="" id="facebook"></a>
                <a href=""><img src="../../../assets/instagram.png" alt="" id="instagram"></a>
                <a href=""><img src="../../../assets/twitter.png" alt="" id="twitter"></a>
                <a href=""><img src="../../../assets/github.png" alt="" id="github"></a>
                <button type="button" class="btn btn dark" (click)="login()" *ngIf="!isLogged">Ingresar</button>
                <button type="button" class="btn btn dark" (click)="onLogOut()" *ngIf="isLogged">Cerrar Sesión</button>
            </div>
        </div>

    </div>

</div>
